<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
        <div ng-app="">
                <p>First Number : <input type="number" ng-model="firstnumber"></p>
                <p>Second Number : <input type="number" ng-model="secondnumber"></p>
                <p>Result : {{ firstnumber + secondnumber }}</p>
              </div>

              

</body>

</html> 