/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
.action-bar {
    color:#ffffff;
}
    
.action-bar {
    background-color: #5870fd;
}
/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

.home-panel{
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}
.list-group
{
    border-width: 3 3 3 3;
    border-color: rgb(165, 165, 238);
}

/* app/chat.component.css */

Image.other-profile-image {
    height: 75;
    width: 75;
    border-radius: 36;
  }
  
  Image.other-cover-image {
    height: 130;
  }
  
  StackLayout.other-profile-image-container {
    border-color: #FFFFFF;
    border-width: 2;
    border-radius: 38;
  }
  
  StackLayout.profile-container {
    vertical-align: middle;
    horizontal-align: left;
    margin-left: 10;
  }
  
  Label.other-name {
    border-color: #000000;
    vertical-align: middle;
    margin-left: 5;
    font-size: 18;
    color: #FFFFFF;
  }
  /* app/chat.component.css */

StackLayout.bubble-container {
    padding: 10;
  }
  
  StackLayout.bubble-from-me,
  StackLayout.bubble-from-other{
    border-radius: 10;
    padding: 10;
    font-size: 14;
  }
  
  TextView.message-content {
    width: 100%;
  }
  
  
  StackLayout.bubble-from-me {
    background-color: #85929E;
    margin-left: 40;
  }
  Label.send-button {
    vertical-align: middle;
    margin-left: 5;
    color: $send-button-color;
  }
   
  GridLayout.message-box {
    padding: 10;
  }

  ListView.chat-box1{
    height: 200px;
  }
  
  StackLayout.bubble-from-other {
    background-color: #D6DBDF;
    margin-right: 40;
  }
  .card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 15 15 0;
}
.card-layout {
    padding: 20;
}
.card-layout .h1 {
    margin-bottom: 15;
}
.cardoutgoing {
  background-color: rgb(45, 165, 91);
  color: #4d4d4d;
  margin: 15 15 0;
}
